@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
    background: #e5e0d3;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
h2 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #1d1543;
}
h3 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #1d1543;
}
h4 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #1d1543;
}
h5 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1543;
}
h6 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1d1543;
}
/* .......................menu-start................... */
.menu__wrapper {
    background-image: linear-gradient(180deg, #0b0523 0%, #1d1543 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 2vh;
}
.menu__hidden {
    display: none;
}
.menu {
    width: 344px;
    margin: 0 auto;
}
.logotip__container-wrapper {
    border-bottom: 1px solid #e5e0d3;
    height: 50px;
    width: 294px;
}
.header-button2-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
}
.header-button2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 23px;
    background-image: url("../img/header/botton-white2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.menu__wrapper ul {
    padding-top: 5vh;
    width: 320px;
    /* height: 90vh; */
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.menu__wrapper ul li {
    margin-bottom: 4vh;
}
.returnToStartPage {
    margin-top: 10vh;
}
.menu__wrapper h4 {
    color: #e5e0d3;
}
.logotip1__item1Menu {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern1.png");
    top: 0;
    left: 5px;
}
.logotip1__item2Menu {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern2.png");
    top: 11px;
    left: 3px;
}
.logotip1__item3Menu {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern3.png");
    top: 12px;
    left: 14px;
}
.logotip1__item4Menu {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern4.png");
    top: 2px;
    left: 16px;
}
.logotip2Menu {
    background-image: url("../img/header/logotip/logotip-white/logotip-white.png");
}
/* .......................menu-end................... */

.wrapper {
    background: #e5e0d3;
    margin: 0 auto;
    width: 100%;
    /* height: 100%; */
    position: relative;
    /* top: 0; */
    /* left: 0; */
}
.wrapper__container {
    /* width: 344px; */
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper__container__block {
    width: 100vw;
}
.swip-hidden {
    display: none;
}
.header {
    margin: 0 auto;
    padding-top: 2vh;
    width: 90vw;
}
.header__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.logotip__container {
    /* height: 30px; */
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotip2 {
    height: 30px;
    width: 130px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.logotip2-site {
    background-image: url("../img/header/logotip/logotip-black/logotip-black.png");
}
.logotip1 {
    position: relative;
    width: 30px;
    height: 19px;
}
.logotip1__item {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 6.67px;
    height: 11.33px;
}
.logotip1__item1 {
    background-image: url("../img/header/logotip/logotip-black/logotip-black-pattern1.png");
    top: 0;
    left: 5px;
}
.logotip1__item2 {
    background-image: url("../img/header/logotip/logotip-black/logotip-black-pattern2.png");
    top: 11px;
    left: 3px;
}
.logotip1__item3 {
    background-image: url("../img/header/logotip/logotip-black/logotip-black-pattern3.png");
    top: 12px;
    left: 14px;
}
.logotip1__item4 {
    background-image: url("../img/header/logotip/logotip-black/logotip-black-pattern4.png");
    top: 2px;
    left: 16px;
}
.header-button {
    width: 22px;
    height: 16px;
    background-image: url("../img/header/botton-black.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.company {
    display: flex;
    margin: 0 auto;
    margin-bottom: 2.5vh;
    width: 334px;
}
.company__container-face {
    margin-right: 28px;
}
.company__img {
    width: 120px;
    height: 120px;
    background-image: url("../img/company-face/company-face2x.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 1vh;
}
.company__container-info {
    padding-top: 12px;
}
.company__name1 {
}
.company__name1-1 {
    margin-bottom: 12px;
}
.wrapper__container-class-car {
}
.class-car {
    margin: 0 auto;
    margin-bottom: 2vh;
}
.class-car__container {
    width: 334px;
    height: 213px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 0 auto;
}
.vaz-2106-1990 {
    background-image: url("../img/class-car/VAZ-2106-1990.jpg");
}
.BMW-5Series-2015 {
    background-image: url("../img/class-car/BMW-5Series-2015.jpg");
}
.model-car {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.BMW-5Series-2015__model-car {
    text-align: center;
}
.car__detales {
    margin: 0 auto;
    width: 100%;
    /* background: linear-gradient(180deg, #0b0523 0%, #1d1543 100%);
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 50px;
    padding-top: 1vh; */
}
#car__detales-wrapper {
    margin: 0 auto;
    width: 100%;
    padding-top: 26px;
    border-radius: 50px 50px 0 0;
    box-shadow: 0px 0px 20px #ffffff;
    background: linear-gradient(180deg, #0b0523 0%, #1d1543 100%);
}
.car__detales-height1 {
    height: 50vh;
}
.car-model {
    text-align: center;
    margin-bottom: 22px;
}
.car-model h4 {
    color: #e5e0d3;
}
.pointer-swip-item1 {
    background-image: url("../img/pointers/pointer.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 18px;
    height: 9px;
}
.pointer-swip-item2 {
    background-image: url("../img/pointers/pointer-line.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 20px;
    width: 100%;
}
.rent-year {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    margin-bottom: 2vh;
}
.rent {
    width: 100%;
    background: #e5e0d3;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
.year {
    width: 100%;
    background: #e5e0d3;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    margin-left: auto;
    margin-right: 0;
}
.rent-year__position {
    display: flex;
    align-items: center;
}
.rent-year__container {
    margin: 0 auto;
}
.rent-year__title {
    text-align: center;
    width: 100%;
}
.rent-year__info {
    text-align: center;
    width: 100%;
}
.description {
    width: 334px;
    margin: 0 auto;
}
.description__container1 {
    margin-bottom: 18px;
}
.description__container2 {
    margin-bottom: 43px;
}
.description h6 {
    color: #e5e0d3;
}
.origin {
    margin-bottom: 1vh;
}
.description__title ul {
    margin-bottom: 0.5vh;
}
.description__title ul li {
    list-style: disc;
    list-style-position: outside;
    margin-left: 25px;
    color: #e5e0d3;
}
.description-info {
    display: flex;
    justify-content: space-between;
}
.description-info__block1 {
    width: 86px;
}
.description-info__block2 {
    width: 200px;
}
.description__button {
    width: 256px;
    height: 46px;
    background: #e5e0d3;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(61, 0, 0, 0.15), 0px 4px 10px rgba(116, 105, 78, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 20px;
    margin-bottom: 42px;
}
.pointer-swip {
    width: 18px;
    height: 30px;
    margin: 0 auto;
}
