@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
h4 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #e5e0d3;
}
h5 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #e5e0d3;
}
h6 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #e5e0d3;
}
.wrapper {
    background: linear-gradient(180deg, #0b0523 0%, #1d1543 100%);
    margin: 0 auto;
    padding: 48px 45px 0px;
}
.header {
    margin: 0 auto;
}
.header__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35.87px;
}
.logotip__container {
    /* height: 30px; */
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotip2 {
    height: 30px;
    width: 130px;
    background-image: url("../img/header/logotip/logotip-white/logotip-white.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.logotip1 {
    position: relative;
    width: 30px;
    height: 19px;
}
.logotip1__item {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 6.67px;
    height: 11.33px;
}
.logotip1__item1 {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern1.png");
    top: 0;
    left: 5px;
}
.logotip1__item2 {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern2.png");
    top: 11px;
    left: 3px;
}
.logotip1__item3 {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern3.png");
    top: 12px;
    left: 14px;
}
.logotip1__item4 {
    background-image: url("../img/header/logotip/logotip-white/logotip-white-pattern4.png");
    top: 2px;
    left: 16px;
}
.header-button {
    width: 22px;
    height: 16px;
    background-image: url("../img/header/botton-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.company {
    border-bottom: 1px solid rgba(225, 218, 162, 0.5);
    display: flex;
    margin-bottom: 61px;
}
.company__container-face {
    margin-right: 28px;
}
.company__img {
    width: 70px;
    height: 70px;
    background: url("../img/company-face/company-face2x.jpg"), #c4c4c4;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}
.company__container-info {
}
.company__name1 {
}
.company__name1-1 {
}
.stars__container {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.stars__item {
    width: 25px;
    height: 25px;
    background-image: url("../img/company-face/star.svg");
}
.class-car__title {
    margin-bottom: 21px;
}
.class-car__container {
    width: 334px;
    height: 213px;
    background: url("../img/class-car/VAZ-2106-1990.jpg"), #e5e0d3;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans/PublicSans-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}
