@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
h2 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #e5e0d3;
}
h3 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #e5e0d3;
}
h4 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #e5e0d3;
}
h5 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #e5e0d3;
}
h6 {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #e5e0d3;
}
span {
    font-family: "PublicSans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #e5e0d3;
}
/* .......................menu-start................... */
.wrapper {
    position: relative;
    /* background-image: linear-gradient(180deg, #0b0523 0%, #1d1543 100%); */
    width: 100%;
    height: 100%;
    /* position: fixed;
    top: 0;
    left: 0; */
}
.wrapper-container {
    background-image: linear-gradient(180deg, #0b0523 0%, #1d1543 100%);
    width: 100vw;
    height: 100vh;
    position: relative;
}
.close__button {
    position: absolute;
    right: 5vw;
    top: 2vh;
    background-image: url("../img/header/botton-white2.svg");
    width: 28px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.wrapper-container__start {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start {
    background-image: url("../img/onbording/rent-a-car.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 280.24px;
    height: 50px;
}
.wrapper-container__СhooseACountry {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    padding-top: 25vh;
}
/* .СhooseACountry__title {
}
.СhooseACar__title {
    margin-bottom: 24vh;
} */
.СhooseACompany__title {
    margin-bottom: 20vh;
}
.wrapper-container__img {
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.СhooseACountry__img {
    width: 301px;
    height: 178px;
    background-image: url("../img/onbording/СhooseACountry.png");
    /* margin-bottom: 16vh; */
}
.СhooseACompany__img {
    width: 246px;
    height: 185px;
    background-image: url("../img/onbording/СhooseACompany.png");
    /* margin-bottom: 15vh; */
}
.СhooseACar__img {
    width: 275.72px;
    height: 124px;
    background-image: url("../img/onbording/СhooseACar.png");
    /* margin-bottom: 17vh; */
}
.img__wrapper-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 185px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15vh;
}
.wrapper-container__txt {
    margin-bottom: 7vh;
}
.line {
    width: 100%;
    height: 1px;
}
.developers {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 50px; */
}
.developers h6 {
    font-size: 8px;
    color: #ffffff;
}
.designer {
    text-align: left;
}
.layout-designer {
    text-align: right;
}
